.env
*.env
!*.env.example

__pycache__/
*.py[cod]
.venv/
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

node_modules/
dist/

.DS_Store

Specifications/*
bruno/Devices/Delete Device.bru
bruno/Devices/Create Device.bru
bruno/Devices/Get Device.bru
bruno/Devices/Update Device.bru
bruno/Groups/Associate devices.bru
